<footer>
    <div class="f-info">
             <div class="f-socials">
                    <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
             </div>
             <div class="company-name">
                &copy;Travel
             </div>
             <div class="f-links">
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                    <a href="/terms">Terms</a>
                    <a href="/privacy">Privacy</a>
             </div>
    </div>
</footer>